scgpt
flash-attn<1.0.5
pip-tools
pipreqs
anndata
cell_gears
cellxgene_census
datasets
einops
faiss-gpu
flash_attn
gdown
gseapy
h5py
ipython
matplotlib
networkx
numba
numpy
pandas
pytest
Requests
scanpy
scib
scikit_learn
scipy
scvi-tools
seaborn
torch_geometric
torchtext
tqdm
typing_extensions
wandb
jupyter
jupyterlab